
.alfaBgCol{
    background-color: darkgrey;
	border-color: black;
    border-bottom-width:thick;
    height: 100%;
    float: left;
}

.papBut{
	padding: 10px;
}

.mySideBar{
    background-color: burlywood;
    box-shadow: 2px 2px 20px 5px black;
    height: 100%;    
}

.iSidebar{
    background-color: whitesmoke;
    max-width: 200px;
/*
    margin: auto;
    border: 3px solid #8AC007;
*/
    height: 100%;
    padding: 20px;
    float: left;
    position: fixed;
    box-shadow: 1px 2px 5px 1px;
    z-index: 1;
}

.iSection{
    background-color: grey;
/*
    max-width:2000px;
    margin: auto;
    border: 3px solid #8AC007;
*/
    padding-left: 200px;
    height: 100%;
}